BEGIN;

--
-- Create model Product
--
CREATE TABLE "inventory_product" (
    "id" integer NOT NULL PRIMARY KEY AUTOINCREMENT,
    "name" varchar(200) NOT NULL,
    "sku" varchar(50) NOT NULL UNIQUE,
    "manufacturer" varchar(100) NOT NULL,
    "price" decimal NOT NULL,
    "current_stock" integer unsigned NOT NULL CHECK ("current_stock" >= 0),
    "minimum_stock" integer unsigned NOT NULL CHECK ("minimum_stock" >= 0),
    "processor" varchar(100) NOT NULL,
    "ram" varchar(50) NOT NULL,
    "storage" varchar(100) NOT NULL,
    "screen_size" varchar(50) NOT NULL,
    "camera_resolution" varchar(50) NOT NULL,
    "operating_system" varchar(100) NOT NULL,
    "color" varchar(50) NOT NULL,
    "power_supply" varchar(50) NOT NULL,
    "connectivity" text NOT NULL,
    "ports" text NOT NULL,
    "build_material" varchar(100) NOT NULL,
    "weight" varchar(50) NOT NULL,
    "created_at" datetime NOT NULL
);

--
-- Create model StockMovement
--
CREATE TABLE "inventory_stockmovement" (
    "id" integer NOT NULL PRIMARY KEY AUTOINCREMENT,
    "quantity" integer unsigned NOT NULL CHECK ("quantity" >= 0),
    "movement_type" varchar(3) NOT NULL,
    "movement_date" datetime NOT NULL,
    "notes" text NOT NULL,
    "product_id" bigint NOT NULL REFERENCES "inventory_product" ("id") DEFERRABLE INITIALLY DEFERRED,
    "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED
);

CREATE INDEX "inventory_stockmovement_product_id_4eccfd0a" ON "inventory_stockmovement" ("product_id");

CREATE INDEX "inventory_stockmovement_user_id_9fe5f98d" ON "inventory_stockmovement" ("user_id");

COMMIT;